.grid{
border: 2px solid red;
display: grid;
grid-template-areas: 
" a b c"
" d e c";
}
a{
border: 2px solid black;
padding: 10vw;
display:flex ;
justify-content: center;
align-items: center;
color: chartreuse;
font-size: 2em;
}
a:nth-child(1){ grid-area:a ;}
a:nth-child(2){grid-area: b;}
a:nth-child(3){grid-area:c;}
a:nth-child(4){grid-area: d;}
a:nth-child(5){grid-area: e;}
@media( max-width:600px){
    .grid{
        display: block;
    }
}
