body{
    background-color: blueviolet;
    display: block;
    margin: 8px;
}
*{
  box-sizing: border-box;  
}
.topNav{
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
    padding: 2%;

}
footer{
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-top: 1%;
}   
footer a{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    text-decoration-color: blanchedalmond;
    padding: 2% 3%;
    background-color: cadetblue;
    margin: 1;
    
}

