$primaryColor: blue;
$secondaryColor:black;
%centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 60%;
}

body{ 
 background-color: aquamarine;   
}
h1{
    @extend%centered;
}
.twoCols{
    border: 2px dashed red;
    @extend%centered;
}
header{
    border: 2px dashed yellow;
    flex:2;
    padding-left: 2%;
    color:$primaryColor;
    background-color:$secondaryColor;
}
.imgHolder{
    @extend%centered;
    border:2px dashed green;
    flex:1;
    background-color: $primaryColor;
    padding: 5%;
}
main{
    @extend%centered;
    flex-wrap: wrap;
    justify-content: space-around;
    div{
        @extend%centered;
        border:2px dashed hotpink;
        width:30vw;
        height:30vw;
        margin: 1vw o;
        background-size: cover;
        background-position: center ;
    }
    @for $i from 1 through 6 {
     div:nth-child(#{$i}){
         background-image: url(img/d#{$i}.jpg);
     } 
    }  
}

footer{
    border: 3px solid brown;
    @extend%centered;
    a{
        
    }
    
}

